* {
    box-sizing: border-box;
}

html,
body {
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-weight: 700;
    font-size: 14px;
    background: #f1f0f08a;
}

h1 {
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
}

label {
    display: block;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 1px 2px;
}

.acordion {
    padding: 2px;
}

.before-line { /*полоска*/
    width: 100%;
    height: 1px;
    background: #afaeae86;
    margin: 6px 0;
}

.acordion-elem__check {
    opacity: 0;
    width: 0;
    height: 0;
}

.acordion-elem__title {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    color: rgba(2, 147, 243, 0.733);
    margin-top: -25px;
}

.acordion-elem__check:checked + .acordion-elem__title { /* при клике на радио инпут*/
    color: #000;
}

.acordion-elem__title img { /* крестик закрытия\плюсик открытия */
    width: 15px;
    transform: rotate(45deg);
}

.acordion-elem__check:checked + .acordion-elem__title img { /* при клике на радио инпут*/
    transform: rotate(0deg);
}

.acordion-elem__content {
    height: 0;
    overflow: hidden;
}

.acordion-elem__check:checked ~ .acordion-elem__content { /* при клике на радио инпут*/
    height: 100%;
    padding-bottom: 20px;
}

.acordion-elem__content-center {
    display: flex;
    justify-content: center;
}

.acordion-elem__content-center img {
    width: 70%;
}

@media (min-width: 326px) and (max-width: 820px) { /*tablet*/
    body{
        font-size: 18px;
    }

    .container {
        padding-top: 3px;
        padding-bottom: 25px;
    }

    .acordion {
        padding: 5px;
    }

    .acordion-elem__title img {
        width: 20px;
    }

    .acordion-elem__content-center img {
        width: 75%;
    }
}

@media (min-width: 826px) { /*desktop*/
    body{
        font-size: 22px;
    }

    label {
        cursor: pointer;
    }

    .container {
        max-width: 1280px;
        padding-top: 6px;
        padding-bottom: 50px;
    }

    .acordion {
        padding: 7px;
    }

    .acordion:hover .acordion-elem__title{ /* при наведении */
        color: #000;
    }

    .acordion-elem__title img {
        width: 30px;
    }

    .acordion-elem__title:hover img { /* при наведении */
        transform: rotate(0deg);
    }

    .acordion-elem:hover .acordion-elem__title img { /* при наведении */
        transform: rotate(0deg);
    }

    .acordion-elem__title:hover + .acordion-elem__content { /* при наведении */
        height: 100%;
        padding-bottom: 20px;
    }

    .acordion-elem__content:hover {
        height: 100%;
        padding-bottom: 20px;
    }

    .acordion-elem__content-center img {
        width: 80%;
    }
}